.bg-body {
  background-color: #F6F0FA;
}

.bg-purple {
  background-color: #60418F;
}

.btn-outline-purple {
  color: #60418F;
  background-color: #F6F0FA;
  background-image: none;
  border-color: #60418F;
}

.btn-outline-purple:hover {
  color: #60418F;
  background-color: #EEE2F7;
  background-image: none;
  border-color: #60418F;
}

.btn-purple {
  color: white;
  background-color: #60418F;
  border-color: #60418F;
}

.btn-purple:hover {
  color: white;
  background-color: #500880;
  border-color: #400666;
}

.space {
  min-height: 56px;
}

.text-white {
  color=white;
}

.text-purple {
  color: #60418F;
}

.card-height {
  height: 247px;
}

.spread {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.test {
  text-decoration: none;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

form {
  margin-bottom: 0;
}

.border-purple {
  border-color: #60418F;
  background-color: #F6F0FA;
}

.submit-btn {
  margin-top: 5px;
  margin-right: 5px;
}

.hr {
  border-bottom: 1px solid grey;
}

.error_message {
  margin: 0;
}

h3 {
  margin-bottom: 23px;
}

.w-log {
  width: 350px;
}
